---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?access_token=<GITHUB_TEST_TOKEN>&q=battleship%20in:name%20user:BabsLabs%20fork:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1577741717'
      X-Oauth-Scopes:
      - public_repo, read:user, repo:status
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"incomplete_results":false,"items":[{"id":203250911,"node_id":"MDEwOlJlcG9zaXRvcnkyMDMyNTA5MTE=","name":"battleship","full_name":"BabsLabs/battleship","private":false,"owner":{"login":"BabsLabs","id":38663414,"node_id":"MDQ6VXNlcjM4NjYzNDE0","avatar_url":"https://avatars1.githubusercontent.com/u/38663414?v=4","gravatar_id":"","url":"https://api.github.com/users/BabsLabs","html_url":"https://github.com/BabsLabs","followers_url":"https://api.github.com/users/BabsLabs/followers","following_url":"https://api.github.com/users/BabsLabs/following{/other_user}","gists_url":"https://api.github.com/users/BabsLabs/gists{/gist_id}","starred_url":"https://api.github.com/users/BabsLabs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BabsLabs/subscriptions","organizations_url":"https://api.github.com/users/BabsLabs/orgs","repos_url":"https://api.github.com/users/BabsLabs/repos","events_url":"https://api.github.com/users/BabsLabs/events{/privacy}","received_events_url":"https://api.github.com/users/BabsLabs/received_events","type":"User","site_admin":false},"html_url":"https://github.com/BabsLabs/battleship","description":null,"fork":false,"url":"https://api.github.com/repos/BabsLabs/battleship","forks_url":"https://api.github.com/repos/BabsLabs/battleship/forks","keys_url":"https://api.github.com/repos/BabsLabs/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/BabsLabs/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/BabsLabs/battleship/teams","hooks_url":"https://api.github.com/repos/BabsLabs/battleship/hooks","issue_events_url":"https://api.github.com/repos/BabsLabs/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/BabsLabs/battleship/events","assignees_url":"https://api.github.com/repos/BabsLabs/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/BabsLabs/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/BabsLabs/battleship/tags","blobs_url":"https://api.github.com/repos/BabsLabs/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/BabsLabs/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/BabsLabs/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/BabsLabs/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/BabsLabs/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/BabsLabs/battleship/languages","stargazers_url":"https://api.github.com/repos/BabsLabs/battleship/stargazers","contributors_url":"https://api.github.com/repos/BabsLabs/battleship/contributors","subscribers_url":"https://api.github.com/repos/BabsLabs/battleship/subscribers","subscription_url":"https://api.github.com/repos/BabsLabs/battleship/subscription","commits_url":"https://api.github.com/repos/BabsLabs/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/BabsLabs/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/BabsLabs/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/BabsLabs/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/BabsLabs/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/BabsLabs/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/BabsLabs/battleship/merges","archive_url":"https://api.github.com/repos/BabsLabs/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/BabsLabs/battleship/downloads","issues_url":"https://api.github.com/repos/BabsLabs/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/BabsLabs/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/BabsLabs/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/BabsLabs/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/BabsLabs/battleship/labels{/name}","releases_url":"https://api.github.com/repos/BabsLabs/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/BabsLabs/battleship/deployments","created_at":"2019-08-19T21:12:21Z","updated_at":"2019-08-29T13:37:57Z","pushed_at":"2019-08-29T13:37:55Z","git_url":"git://github.com/BabsLabs/battleship.git","ssh_url":"git@github.com:BabsLabs/battleship.git","clone_url":"https://github.com/BabsLabs/battleship.git","svn_url":"https://github.com/BabsLabs/battleship","homepage":null,"size":66,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"score":12.18385}]}'
  recorded_at: Mon, 30 Dec 2019 21:34:17 GMT
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/artist.search?apikey=<MUSIX_MATCH_TOKEN>&page_size=3&q_artist=Elvis%20Presley
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.012025117874146,"available":570},"body":{"artist_list":[{"artist":{"artist_id":702,"artist_name":"Elvis
        Presley","artist_name_translation_list":[],"artist_comment":"","artist_country":"US","artist_alias_list":[{"artist_alias":"\u30a8\u30eb\u30f4\u30a3\u30b9
        \u30d7\u30ec\u30b9\u30ea\u30fc"},{"artist_alias":"Elvis Aaron Presley"},{"artist_alias":"Elvis
        A. Presley"},{"artist_alias":"Elivs Presley"},{"artist_alias":"Elvis Priesley"},{"artist_alias":"Presley"},{"artist_alias":"
        Elvis"},{"artist_alias":"Elvis"},{"artist_alias":"Presley Elvis"},{"artist_alias":"The
        King of Rock and Roll"}],"artist_rating":87,"artist_twitter_url":"","artist_credits":{"artist_list":[]},"restricted":0,"updated_time":"2013-11-05T11:24:52Z"}},{"artist":{"artist_id":25303422,"artist_name":"\u30a8\u30eb\u30f4\u30a3\u30b9\u30fb\u30d7\u30ec\u30b9\u30ea\u30fc","artist_name_translation_list":[{"artist_name_translation":{"language":"EN","translation":"Elvis
        Presley"}}],"artist_comment":"","artist_country":"","artist_alias_list":[{"artist_alias":"Elvis
        Presley"},{"artist_alias":"\u30a8\u30eb\u30f4\u30a3\u30b9\u30d7\u30ec\u30b9\u30ea\u30fc"}],"artist_rating":51,"artist_twitter_url":"","artist_credits":{"artist_list":[]},"restricted":0,"updated_time":"2013-12-28T15:24:40Z"}},{"artist":{"artist_id":24498488,"artist_name":"Done
        Again","artist_name_translation_list":[],"artist_comment":"","artist_country":"","artist_alias_list":[],"artist_rating":44,"artist_twitter_url":"","artist_credits":{"artist_list":[]},"restricted":0,"updated_time":"2018-08-04T03:13:35Z"}}]}}}'
  recorded_at: Mon, 30 Dec 2019 21:34:18 GMT
recorded_with: VCR 5.0.0
