---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?access_token=<GITHUB_TEST_TOKEN>&q=monster_shop%20in:name%20user:CoopTang%20fork:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1577643445'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"incomplete_results":false,"items":[{"id":219547977,"node_id":"MDEwOlJlcG9zaXRvcnkyMTk1NDc5Nzc=","name":"monster_shop_extension_1908","full_name":"CoopTang/monster_shop_extension_1908","private":false,"owner":{"login":"CoopTang","id":8922930,"node_id":"MDQ6VXNlcjg5MjI5MzA=","avatar_url":"https://avatars2.githubusercontent.com/u/8922930?v=4","gravatar_id":"","url":"https://api.github.com/users/CoopTang","html_url":"https://github.com/CoopTang","followers_url":"https://api.github.com/users/CoopTang/followers","following_url":"https://api.github.com/users/CoopTang/following{/other_user}","gists_url":"https://api.github.com/users/CoopTang/gists{/gist_id}","starred_url":"https://api.github.com/users/CoopTang/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/CoopTang/subscriptions","organizations_url":"https://api.github.com/users/CoopTang/orgs","repos_url":"https://api.github.com/users/CoopTang/repos","events_url":"https://api.github.com/users/CoopTang/events{/privacy}","received_events_url":"https://api.github.com/users/CoopTang/received_events","type":"User","site_admin":false},"html_url":"https://github.com/CoopTang/monster_shop_extension_1908","description":null,"fork":false,"url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908","forks_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/forks","keys_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/keys{/key_id}","collaborators_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/teams","hooks_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/hooks","issue_events_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/issues/events{/number}","events_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/events","assignees_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/assignees{/user}","branches_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/branches{/branch}","tags_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/tags","blobs_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/git/refs{/sha}","trees_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/git/trees{/sha}","statuses_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/statuses/{sha}","languages_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/languages","stargazers_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/stargazers","contributors_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/contributors","subscribers_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/subscribers","subscription_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/subscription","commits_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/commits{/sha}","git_commits_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/git/commits{/sha}","comments_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/comments{/number}","issue_comment_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/issues/comments{/number}","contents_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/contents/{+path}","compare_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/compare/{base}...{head}","merges_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/merges","archive_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/downloads","issues_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/issues{/number}","pulls_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/pulls{/number}","milestones_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/milestones{/number}","notifications_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/labels{/name}","releases_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/releases{/id}","deployments_url":"https://api.github.com/repos/CoopTang/monster_shop_extension_1908/deployments","created_at":"2019-11-04T16:37:37Z","updated_at":"2019-11-14T22:16:40Z","pushed_at":"2019-12-20T07:32:32Z","git_url":"git://github.com/CoopTang/monster_shop_extension_1908.git","ssh_url":"git@github.com:CoopTang/monster_shop_extension_1908.git","clone_url":"https://github.com/CoopTang/monster_shop_extension_1908.git","svn_url":"https://github.com/CoopTang/monster_shop_extension_1908","homepage":null,"size":230,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"score":16.982147},{"id":216885274,"node_id":"MDEwOlJlcG9zaXRvcnkyMTY4ODUyNzQ=","name":"monster_shop_1908","full_name":"CoopTang/monster_shop_1908","private":false,"owner":{"login":"CoopTang","id":8922930,"node_id":"MDQ6VXNlcjg5MjI5MzA=","avatar_url":"https://avatars2.githubusercontent.com/u/8922930?v=4","gravatar_id":"","url":"https://api.github.com/users/CoopTang","html_url":"https://github.com/CoopTang","followers_url":"https://api.github.com/users/CoopTang/followers","following_url":"https://api.git[...]
