---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/artist.search?apikey=<MUSIX_MATCH_TOKEN>&page_size=3&q_artist=Elvis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.011737108230591,"available":3226},"body":{"artist_list":[{"artist":{"artist_id":702,"artist_name":"Elvis
        Presley","artist_name_translation_list":[],"artist_comment":"","artist_country":"US","artist_alias_list":[{"artist_alias":"\u30a8\u30eb\u30f4\u30a3\u30b9
        \u30d7\u30ec\u30b9\u30ea\u30fc"},{"artist_alias":"Elvis Aaron Presley"},{"artist_alias":"Elvis
        A. Presley"},{"artist_alias":"Elivs Presley"},{"artist_alias":"Elvis Priesley"},{"artist_alias":"Presley"},{"artist_alias":"
        Elvis"},{"artist_alias":"Elvis"},{"artist_alias":"Presley Elvis"},{"artist_alias":"The
        King of Rock and Roll"}],"artist_rating":87,"artist_twitter_url":"","artist_credits":{"artist_list":[]},"restricted":0,"updated_time":"2013-11-05T11:24:52Z"}},{"artist":{"artist_id":695,"artist_name":"Elvis
        Costello","artist_name_translation_list":[],"artist_comment":"","artist_country":"GB","artist_alias_list":[{"artist_alias":"\u30a8\u30eb\u30f4\u30a3\u30b9\u30b3\u30b9\u30c6\u30ed"},{"artist_alias":"Elvis
        Costello and the Sugarcanes"},{"artist_alias":"Declan Patrick MacManus"},{"artist_alias":"Elvis
        Costell"},{"artist_alias":"Evis Costelo"},{"artist_alias":"Elvis Costello
        (The Costello Show)"},{"artist_alias":"The Costello Show"},{"artist_alias":"Elvis
        Cosztello"}],"artist_rating":55,"artist_twitter_url":"https:\/\/twitter.com\/elviscostello","artist_credits":{"artist_list":[]},"restricted":0,"updated_time":"2013-11-05T11:24:56Z"}}]}}}'
  recorded_at: Mon, 30 Dec 2019 20:06:15 GMT
recorded_with: VCR 5.0.0
