---
http_interactions:
- request:
    method: get
    uri: https://api.musixmatch.com/ws/1.1/artist.search?apikey=<MUSIX_MATCH_TOKEN>&page_size=3&q_artist=$$
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Restarts:
      - '0'
      X-Varnish-Instance:
      - api
    body:
      encoding: ASCII-8BIT
      string: '{"message":{"header":{"status_code":200,"execute_time":0.014631986618042,"available":0},"body":{"artist_list":[]}}}'
  recorded_at: Mon, 30 Dec 2019 20:17:12 GMT
recorded_with: VCR 5.0.0
