---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?access_token=<GITHUB_TEST_TOKEN>&q=battleship%20in:name%20user:CoopTang%20fork:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1577645979'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"incomplete_results":false,"items":[{"id":203251643,"node_id":"MDEwOlJlcG9zaXRvcnkyMDMyNTE2NDM=","name":"battleship","full_name":"CoopTang/battleship","private":false,"owner":{"login":"CoopTang","id":8922930,"node_id":"MDQ6VXNlcjg5MjI5MzA=","avatar_url":"https://avatars2.githubusercontent.com/u/8922930?v=4","gravatar_id":"","url":"https://api.github.com/users/CoopTang","html_url":"https://github.com/CoopTang","followers_url":"https://api.github.com/users/CoopTang/followers","following_url":"https://api.github.com/users/CoopTang/following{/other_user}","gists_url":"https://api.github.com/users/CoopTang/gists{/gist_id}","starred_url":"https://api.github.com/users/CoopTang/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/CoopTang/subscriptions","organizations_url":"https://api.github.com/users/CoopTang/orgs","repos_url":"https://api.github.com/users/CoopTang/repos","events_url":"https://api.github.com/users/CoopTang/events{/privacy}","received_events_url":"https://api.github.com/users/CoopTang/received_events","type":"User","site_admin":false},"html_url":"https://github.com/CoopTang/battleship","description":null,"fork":true,"url":"https://api.github.com/repos/CoopTang/battleship","forks_url":"https://api.github.com/repos/CoopTang/battleship/forks","keys_url":"https://api.github.com/repos/CoopTang/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/CoopTang/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/CoopTang/battleship/teams","hooks_url":"https://api.github.com/repos/CoopTang/battleship/hooks","issue_events_url":"https://api.github.com/repos/CoopTang/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/CoopTang/battleship/events","assignees_url":"https://api.github.com/repos/CoopTang/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/CoopTang/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/CoopTang/battleship/tags","blobs_url":"https://api.github.com/repos/CoopTang/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/CoopTang/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/CoopTang/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/CoopTang/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/CoopTang/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/CoopTang/battleship/languages","stargazers_url":"https://api.github.com/repos/CoopTang/battleship/stargazers","contributors_url":"https://api.github.com/repos/CoopTang/battleship/contributors","subscribers_url":"https://api.github.com/repos/CoopTang/battleship/subscribers","subscription_url":"https://api.github.com/repos/CoopTang/battleship/subscription","commits_url":"https://api.github.com/repos/CoopTang/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/CoopTang/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/CoopTang/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/CoopTang/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/CoopTang/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/CoopTang/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/CoopTang/battleship/merges","archive_url":"https://api.github.com/repos/CoopTang/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/CoopTang/battleship/downloads","issues_url":"https://api.github.com/repos/CoopTang/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/CoopTang/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/CoopTang/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/CoopTang/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/CoopTang/battleship/labels{/name}","releases_url":"https://api.github.com/repos/CoopTang/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/CoopTang/battleship/deployments","created_at":"2019-08-19T21:18:27Z","updated_at":"2019-08-22T19:30:09Z","pushed_at":"2019-08-29T15:41:15Z","git_url":"git://github.com/CoopTang/battleship.git","ssh_url":"git@github.com:CoopTang/battleship.git","clone_url":"https://github.com/CoopTang/battleship.git","svn_url":"https://github.com/CoopTang/battleship","homepage":null,"size":79,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"score":9.767069}]}'
  recorded_at: Sun, 29 Dec 2019 18:58:39 GMT
recorded_with: VCR 5.0.0
