---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?access_token=<GITHUB_TEST_TOKEN>&q=$$%20in:name%20user:ap2322%20fork:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1577643520'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Sun, 29 Dec 2019 18:17:40 GMT
recorded_with: VCR 5.0.0
